@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
.about__me,
.me__title,
.portfolio__inner-title,
.contacts__title,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0px;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1,
.about__me,
.me__title,
.portfolio__inner-title,
.contacts__title {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* montserrat-300 - cyrillic */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/montserrat-v15-cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v15-cyrillic-300.woff") format("woff");
}

/* montserrat-regular - cyrillic */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v15-cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-cyrillic-regular.woff") format("woff");
}

/* montserrat-500 - cyrillic */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v15-cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v15-cyrillic-500.woff") format("woff");
}

/* montserrat-700 - cyrillic */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v15-cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v15-cyrillic-700.woff") format("woff");
}

/* montserrat-900 - cyrillic */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/montserrat-v15-cyrillic-900.woff2") format("woff2"), url("../fonts/montserrat-v15-cyrillic-900.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

h1,
.about__me,
.me__title,
.portfolio__inner-title,
.contacts__title {
  color: aliceblue;
  margin-bottom: 50px;
  z-index: 5;
  color: #ff9100;
  text-align: center;
}

h2 {
  color: aliceblue;
  margin-bottom: 80px;
  position: relative;
  top: 50%;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */

.anim-typewriter {
  -webkit-animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
          animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 20em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 20em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

.header {
  width: 100%;
  height: 100vh;
  background: black;
  margin-bottom: 70px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.header__top-inner {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 0;
}

.header__logo {
  font-size: 2rem;
  color: aliceblue;
}

.header__nav {
  width: 65%;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__nav-link {
  color: aliceblue;
  transition: all .25s ease-in;
}

.header__nav-link:hover {
  color: #ff9100;
}

.order-link {
  color: #fff;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.header__button {
  color: aliceblue;
  padding: 15px 20px;
  text-transform: uppercase;
  max-width: 70%;
  text-decoration: none;
  text-align: center;
  margin: 30px 0;
  display: block;
  background-image: linear-gradient(to left, transparent, transparent 50%, #ff9100, 50%, #ff9100);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  border: 1px solid #ff9100;
  z-index: 5;
}

.header__button:hover {
  background-position: 0 0;
  color: white;
}

.header__content-img1 {
  position: absolute;
  width: 300px;
  top: 10%;
  left: 60%;
  transform: rotate(80deg);
  z-index: 0;
}

.header__content-img2 {
  position: absolute;
  width: 200px;
  top: 65%;
  left: 45%;
  transform: rotate(40deg);
}

.header__content-img3 {
  position: absolute;
  width: 100px;
  top: 30%;
  left: 30%;
  transform: rotate(130deg);
}

.header__content-img4 {
  position: absolute;
  width: 150px;
  top: 40%;
  left: 15%;
  transform: rotate(190deg);
}

.header__content-img5 {
  position: absolute;
  width: 100px;
  top: 70%;
  left: 70%;
  transform: rotate(130deg);
}

.header__content-pic1,
.header__content-pic2,
.header__content-pic3,
.header__content-pic4,
.header__content-pic5 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*=================================BURGER===========================================*/

.header__burger {
  display: none;
}

.burger-btn {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  z-index: 15;
}

.burger-btn span,
.burger-btn span::after,
.burger-btn span:before {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  top: 50%;
}

.burger-btn span::after,
.burger-btn span::before {
  content: '';
  display: block;
  transition: 0.5s;
}

.burger-btn span::before {
  transform: translateY(-12px);
}

.burger-btn span::after {
  transform: translateY(12px);
}

.burger-btn--active span {
  height: 0;
}

.burger-btn--active span::before {
  transform: rotate(45deg);
}

.burger-btn--active span::after {
  transform: rotate(-45deg);
}

/*=======MEDIA 992 start========*/

/*==================================BURGER END=====================================*/

/*==================================HEADER END=====================================*/

/*==================================ABOUT START=====================================*/

.about {
  margin-bottom: 70px;
}

.about__me {
  color: black;
}

.about__image {
  min-width: 35%;
  min-height: 400px;
  position: relative;
}

.about__image-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  position: absolute;
}

.about__inner-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.about__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  margin-right: 30px;
}

.about__name {
  font-weight: 500;
  margin-bottom: 20px;
}

.about__career {
  margin-bottom: 15px;
}

.about__desc-1 {
  margin-bottom: 15px;
}

.about__desc-2 {
  margin-bottom: 15px;
}

/*==================================ABOUT END=====================================*/

/*==================================SECTION ME START=====================================*/

.me {
  padding: 50px 0;
  margin-bottom: 70px;
  background-color: #0c0c0c;
}

.me__title {
  color: aliceblue;
}

/* Добавляем стили body, выравниваем всё по центру */

.me__skills {
  text-align: center;
  margin: auto;
}

/* Стили для нашего основного блока */

.skills {
  position: relative;
  display: block;
  margin-bottom: 25px;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background: #eee;
  transition: 1s linear;
  transition-property: width, background-color;
}

/* Стили блока title от skills */

.title {
  position: absolute;
  font-size: 16px;
  top: 0;
  font-weight: bold;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #6adcfa;
  color: #fff;
}

/* Стили тега span в блоке title */

.title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* Стили блока skill-bar от skills */

.skill-bar {
  height: 50px;
  border-radius: 3px;
  width: 0;
  background-color: #6adcfa;
}

/* Стили блока skill-percent от skills */

.skills-percent {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 11px;
  height: 55px;
  line-height: 35px;
  color: #444;
  color: rgba(0, 0, 0, 0.4);
}

/*==================================SECTION ME END=====================================*/

/*==================================SECTION PORTFOLIO START=====================================*/

.portfolio {
  margin-bottom: 70px;
}

.portfolio__inner-title {
  color: black;
}

.portfolio__inner-image {
  width: 100%;
  height: 500px;
}

.portfolio__inner-img {
  width: 100%;
  display: block;
}

.portfolio__inner-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__inner-link {
  width: 300px;
  height: 500px;
  text-align: center;
}

/*==================================SECTION PORTFOLIO END=====================================*/

/*==================================SECTION CONTACTS START=====================================*/

.contacts__wrap {
  background-color: black;
}

.contacts__inner {
  padding-bottom: 50px;
}

.contacts__title {
  padding: 50px 0 20px 0;
  color: aliceblue;
  z-index: 2;
}

.contacts__form {
  width: 40%;
  min-width: 250px;
  height: 500px;
  background-color: aliceblue;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 10px;
  z-index: 10;
}

input {
  padding: 5px;
  width: 90%;
  margin-bottom: 10px;
  min-width: 220px;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
}

.input__file-button {
  width: 100%;
  max-width: 328px;
  height: 40px;
  background: #1bbc9b;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
}

.input__file-icon-wrapper {
  margin-top: 5px;
}

.contacts__message {
  width: 90%;
  min-width: 220px;
  padding: 5px;
}

.contacts__button {
  margin: 50px 0;
  outline: none;
  border: none;
  background-color: #ff9100;
  color: white;
  line-height: 30px;
  transition: 0.6s linear;
}

.contacts__button:hover,
.contacts__button :active {
  background: #1bbc9b;
}

.contact-social {
  width: 100%;
}

.contact-social-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fa-vk {
  color: grey;
  transition: .6s linear;
}

.fa-vk:hover,
.fa-vk :active {
  color: blue;
}

.fa-instagram {
  transition: .6s linear;
  color: grey;
}

.fa-instagram:hover,
.fa-instagram :active {
  color: orangered;
}

.fa-github {
  transition: .6s linear;
  color: grey;
}

.fa-github:hover,
.fa-github :active {
  color: black;
}

.footer__content-images {
  position: relative;
}

.footer__content-img1 {
  position: absolute;
  width: 300px;
  top: -300px;
  left: 68%;
  transform: rotate(80deg);
}

.footer__content-img2 {
  position: absolute;
  width: 200px;
  top: -650px;
  left: 10%;
  transform: rotate(40deg);
}

.footer__content-pic1,
.footer__content-pic2 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*==================================SECTION CONTACTS END=====================================*/

@media (min-width: 767px) {
  h1,
  .about__me,
  .me__title,
  .portfolio__inner-title,
  .contacts__title {
    font-size: calc(20px + 20 * (100vw / 1200));
  }

  h2 {
    font-size: calc(12px + 14 * (100vw / 1200));
  }

  .header__logo {
    font-size: calc(16px + 10 * (100vw / 1200));
  }

  .header__nav-link {
    font-size: calc(16px + 6 * (100vw / 1200));
  }

  .header__button {
    font-size: calc(16px + 4 * (100vw / 1200));
  }

  .about__name {
    font-size: calc(16px + 10 * (100vw / 1200));
  }

  .about__career {
    font-size: calc(14px + 8 * (100vw / 1200));
  }

  .about__desc-1 {
    font-size: calc(12px + 6 * (100vw / 1200));
  }

  .about__desc-2 {
    font-size: calc(12px + 6 * (100vw / 1200));
  }

  .portfolio__inner-link {
    font-size: calc(14px + 6 * (100vw / 1200));
  }

  input {
    font-size: calc(12px + 6 * (100vw / 1200));
  }

  .input__file-button {
    font-size: calc(12px + 6 * (100vw / 1200));
  }

  .contacts__message {
    font-size: calc(12px + 6 * (100vw / 1200));
  }
}

@media (max-width: 992px) {
  .header__content-img1 {
    left: 50%;
  }

  .footer__content-img1 {
    left: 50%;
  }
}

@media screen and (max-width: 992px) {
  .header__burger {
    display: block;
    z-index: 1000;
  }

  .header__nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
    z-index: 1000;
    transition: all .3s ease 0s;
  }

  .header__nav--active {
    top: 0;
  }

  .header__nav-list {
    flex-direction: column;
    padding: 150px 0 0 3%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
  }

  a.header__nav-link {
    font-size: 30px;
    color: #fdfdfd;
  }
}

@media (max-width: 991px) {
  .portfolio__inner-item {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
  h1,
  .about__me,
  .me__title,
  .portfolio__inner-title,
  .contacts__title {
    font-size: calc(20px + 34 * ((100vw - 320px) / 1200));
  }

  h2 {
    font-size: calc(12px + 23.8 * ((100vw - 320px) / 1200));
  }

  .header__logo {
    font-size: calc(16px + 17 * ((100vw - 320px) / 1200));
  }

  .header__nav-link {
    font-size: calc(16px + 10.2 * ((100vw - 320px) / 1200));
  }

  .header__button {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1200));
  }

  .header__content-img1 {
    display: none;
  }

  .header__content-img2 {
    display: none;
  }

  .header__content-img5 {
    display: none;
  }

  .about__name {
    font-size: calc(16px + 17 * ((100vw - 320px) / 1200));
  }

  .about__career {
    font-size: calc(14px + 13.6 * ((100vw - 320px) / 1200));
  }

  .about__desc-1 {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1200));
  }

  .about__desc-2 {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1200));
  }

  .portfolio__inner-link {
    font-size: calc(14px + 10.2 * ((100vw - 320px) / 1200));
  }

  input {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1200));
  }

  .input__file-button {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1200));
  }

  .contacts__message {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1200));
  }

  .footer__content-img1 {
    display: none;
  }
}

@media (max-width: 600px) {
  .about__image {
    width: 250px;
  }

  .about__inner-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about__text {
    margin-right: 0;
  }
}

@media (max-width: 380px) {
  .footer__content-img2 {
    display: none;
  }
}

@media (max-width: 350px) {
  .portfolio__inner-image {
    width: 220px;
    margin: auto;
  }

  .portfolio__inner-link {
    width: 250px;
  }

  .contacts__form {
    width: 250px;
  }
}